/* Snow Globe */
.snowglobe-wrap {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.snowglobe {
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
}

.sg-bg {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}

.sg-fg {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(135deg, rgba(255,255,255,0.8) 0%, rgba(246,246,246,0.2) 47%, rgba(237,237,237,0) 100%);
}

.grnd-snow {
  width: 285px;
  height: 285px;
  border-radius: 100%;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 68%, rgba(240,240,240,1) 68%, rgba(235,239,245,1) 79%, rgba(197,211,232,1) 100%);
}

.snow-surface {
  width: 267px;
  height: 30px;
  background: #fff;
  position: relative;
  top: 177px;
  border-radius: 100%;
  margin: auto;
}

.tree {
  width: 100px;
  height: 164px;
  position: relative;
  left: 150px;
  top: 45px;
}

.branch-top {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 40px;
  height: 75px;
  background-color: #62838C;
  position: absolute;
  top: 5px;
  left: 30px;
}

.branch-mid {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 75px;
  height: 115px;
  background-color: #2D4959;
  position: absolute;
  top: 35px;
  left: 12.5px;
}

.branch-bot {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 100px;
  height: 125px;
  background-color: #142833;
  position: absolute;
  top: 80px;
}

.branch-bot-snow, .branch-mid-snow, .branch-top-snow {
  background: linear-gradient(135deg, #dbe8fc 25%, transparent 25%) -6.4px 0,
    linear-gradient(225deg, #dbe8fc 25%, transparent 25%) -6.4px 0,
    linear-gradient(315deg, #dbe8fc 25%, transparent 25%),
    linear-gradient(45deg, #dbe8fc 25%, transparent 25%);
  background-size: 12.8px 12.8px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.branch-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(18, 67, 79, 1) 0%, rgba(255,255,255,0) 100%);
  mix-blend-mode: multiply;
}

.star {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 10.5px solid gold;
  border-left: 15px solid transparent;
  transform: rotate(35deg);
  position: absolute;
  top: 0;
  left: 30px;
}

.star:before {
  border-bottom: 12px solid gold;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -6.75px;
  left: -9.75px;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  top: 0.45px;
  left: -15.75px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 10.5px solid gold;
  border-left: 15px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.baubles {
  width: 12px;
  height: 12px;
  background-color: rgba(191, 17, 49,1);
  border-radius: 100%;
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 6px 33px 0 0 rgba(150, 0, 40,1), -6px 60px 0 0 rgba(206, 0, 55,1), 15px 75px 0 0 rgba(206, 0, 37,1), -18px 99px 0 0 rgba(191, 17, 49,1), 24px 105px 0 0 rgba(191, 17, 49,1);
}

.tree-shadow {
  width: 200px;
  height: 20px;
  background: radial-gradient(ellipse at center, rgba(13,84,102,1) 0%, rgba(138,174,188,0) 65%, rgba(206,223,235,0) 100%);
  position: absolute;
  bottom: -10px;
  left: -35px;
}

.snowman-bot {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, #dbe8fc 100%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 99px;
  left: 75px;
}

.snowman-top {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, #dbe8fc 100%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 138px;
  left: 81px;
}

.sm-shadow {
  width: 100px;
  height: 20px;
  background: radial-gradient(ellipse at center, rgba(13,84,102,0.4) 0%, rgba(138,174,188,0) 65%, rgba(206,223,235,0) 100%);
  position: absolute;
  bottom: 100px;
  left: 90px;
}

.coal {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 120px -10px 0 0 black, 137px -12px 0 0 black, 119px 0 0 0 black, 125px 2px 0 0 black, 132px 2px 0 0 black, 138px -2px 0 0 black, 130px 15px 0 0 black, 132px 27px 0 0 black, 132px 39px 0 0 black;
}

.carrot {
  width: 0;
  height: 0;
  border-left: 20px solid #f98e13;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  left: 130px;
  top: 198px;
}

.falling-snow-wrap {
  overflow: hidden;
  opacity: 0.99;
  height: 195px;
  width: 300px;
  position: absolute;
  top: 0;
}

.falling-snow {
  width: 285px;
  height: 285px;
  border-radius: 100%;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  overflow: hidden;
  opacity: 0.99;
}

.flakes1, .flakes2 {
  width: 300px;
  height: 600px;
  position: absolute;
  top: 0;
  color: #fff;
}

.flakes1 {
  opacity: 0.5;
  animation: sfanim linear 30s infinite;
  text-shadow: 303px 117px, 32px 89px, 323px 119px, 98px 183px, 126px 235px, 0px 171px, 380px 61px, 269px 17px, 0px 151px, 121px 344px, 229px 136px, 237px 280px, 303px 30px, 211px 314px, 378px 285px, 10px 287px, 93px 345px, 292px 324px, 223px 292px, 156px 160px;
}

.flakes2 {
  animation: sfanim linear 15s infinite;
  text-shadow: 375px 85px, 11px 289px, 254px 384px, 5px 286px, 266px 305px, 388px 298px, 180px 307px, 36px 13px, 74px 295px, 238px 290px, 384px 235px, 1px 294px, 45px 138px, 131px 350px, 258px 120px, 157px 305px, 96px 349px, 325px 319px, 132px 288px, 167px 111px;
}

@keyframes sfanim {
  0% { transform: translate(0, -300px); }
  100% { transform: translate(0, 0); }
}

.stand-curved-wrap {
  width: 420px;
  height: 100px;
  position: absolute;
  bottom: -102px;
  margin-left: -60px;
  clip-path: polygon(30% 10%, 70% 10%, 80% 100%, 20% 100%);
}

.stand-curved {
  height: 180px;
  width: 500px;
  border-radius: 50%;
  border: 100px solid maroon;
  position: absolute;
  bottom: 0;
  left: -70px;
}

.ground {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 300px;
  background: radial-gradient(ellipse at center, rgba(1,1,1,1) 0%, rgba(1,1,1,0.7) 10%, rgba(1,1,1,0) 20%), linear-gradient(to bottom, rgba(37,5,6,1) 0%, rgba(99,19,7,1) 40%, rgba(164,65,33,1) 100%);
}

@media (max-width: 768px) {
  .snowglobe-wrap {
    display: none;
  }
}
