.tree-container{position:absolute;right:20%;top:60%;transform:translateY(-50%);width:400px;height:400px;z-index:100}
.tree{position:absolute;overflow:visible;fill:none;stroke:#00cc00;stroke-width:2;stroke-dasharray:1;stroke-dashoffset:0;z-index:1;height:100%;left:50%;top:0;transform:translateX(-100%);opacity:0;transform-origin:top right;animation:opacity 2.7s forwards linear,rotate3d 5.4s infinite linear,stoke 5.4s infinite linear}
.tree:nth-of-type(1){animation-delay:0s}
.tree:nth-of-type(2){animation-delay:0.45s}
.tree:nth-of-type(3){animation-delay:0.9s}
.tree:nth-of-type(4){animation-delay:1.35s}
.tree:nth-of-type(5){animation-delay:1.8s}
.tree:nth-of-type(6){animation-delay:2.25s}
.tree:nth-of-type(7){animation-delay:2.7s}
.tree:nth-of-type(8){animation-delay:3.15s}
.tree:nth-of-type(9){animation-delay:3.6s}
.tree:nth-of-type(10){animation-delay:4.05s}
.tree:nth-of-type(11){animation-delay:4.5s}
.tree:nth-of-type(12){animation-delay:4.95s;opacity:0.5}
@keyframes opacity{100%{opacity:1}}
@keyframes rotate3d{0%{transform:translateX(-100%) rotate3d(0,1,0,0deg)}100%{transform:translateX(-100%) rotate3d(0,1,0,359deg)}}
@keyframes stoke{0%{stroke-dasharray:1;stroke-dashoffset:0}50%{stroke:#00cc00}51%{z-index:0}60%{stroke:#D32C2C;z-index:0}90%{stroke:#D32C2C;z-index:0}99%{z-index:0}100%{stroke:#00cc00;stroke-dashoffset:100}}
@media(max-width:768px){.tree-container{display:none}}
